<!DOCTYPE HTML>
<html>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

      <script>
          jQuery(function($){ //on document.ready
              $('#dob').datepicker({ dateFormat: 'yy-mm-dd', changeMonth: true,
            changeYear: true });
          })

      </script>



  </head>

  <body>
    <div class="container">
      &nbsp;<p>
    Enter your details to sign up to HobbyLobby below:<p>
<div class="form-group">
    <form id="register" action="/register/" method="POST" enctype='multipart/form-data'>
        {% csrf_token %}
        Username:<br>
        <input id="username" type="text" name="username"/><p>
        Password:<br>
        <input id="password" type="password" name="password"/><p>
        First Name:<br>
        <input id="firstname" type="text" name="firstname"/><p>
        Last Name:<br>
        <input id="lastname" type="text" name="lastname"/><p>
        Gender:<br>
        <input type="radio" name="gender" value="M" checked/> Male
        <input type="radio" name="gender" value="F"/> Female<p>
        Email:<br>
        <input id="email" type="email" name="email"><p>
        Date of birth: (1990-12-31)<br>
        <input id="dob" type="date" name="dob"><p>
        Select hobbies:<br>
        <input type="checkbox" name="hobby" value="1"/>Football<br>
        <input type="checkbox" name="hobby" value="2"/>Rugby<br>
        <input type="checkbox" name="hobby" value="3"/>Cricket<br>
        <input type="checkbox" name="hobby" value="4"/> Tennis<br>
        <input type="checkbox" name="hobby" value="5"/>Golf<p>
        Profile text:<br>
        <input id="profiletext" type="textarea" rows="5" name="profiletext"/><p>
        Profile image:<br>
        <input type="file" name="imgfile" /><p>
        <input id="registerbtn" type="submit" value="Register">


        </form>
</div>
      </div>

  </body>

</html>
